# about codeowners:
# https://help.github.com/articles/about-codeowners/

# notify about changes in codeowners file
/.github/       @gluk64 @furkhat @dvush

# notify about changes in docs
/docs/          @gluk64
*.md            @gluk64

# notify about any circuit, prover and server changes
/core/circuit/ @alexander-movchan @gluk64
/core/prover/ @furkhat
/core @dvush

# dev tools
/bin @dvush
/Makefile @dvush
/etc/kube @furkhat
/.drone.yml @dvush @furkhat

# js
/js/zksync.js @dvush
/js/tests @dvush
/js/client @jazzandrock
/js/explorer @jazzandrock

# notify dvush about contracts changes
/contracts/     @dvush @gluk64
