*
!docker/prover/prover-entry.sh
!docker/exit-tool/exit-tool-entry.sh
!docker/exit-tool/configs
!docker/keybase-secrets/entrypoint.sh
!etc/env/dev.env.example
!etc/tokens
!keys/packed
!docker/nginx/nginx.conf
!bin/
!core/
!Cargo.lock
!Cargo.toml
!contracts/build
!infrastructure/explorer/index.html
!infrastructure/explorer/dist
!infrastructure/fee-seller
!infrastructure/tok_cli
!sdk/zksync-rs
