*
!target/x86_64-unknown-linux-musl/release/server
!target/x86_64-unknown-linux-musl/release/prover
!docker/prover/prover-entry.sh
!docker/nginx/nginx.conf
!bin/.load_keys
!contracts/build
!js/client/index.html
!js/client/dist
!js/explorer/index.html
!js/explorer/dist
