*
!docker/prover/graceful-run.sh
!docker/prover/prover-entry.sh
!docker/exit-tool/exit-tool-entry.sh
!docker/exit-tool/configs
!docker/data-restore/data-restore-entry.sh
!docker/keybase-secrets/entrypoint.sh
!docker/ci-integration-test/entrypoint.sh
!docker/zk/entrypoint.sh
!etc/env/dev.env.example
!etc/env/docker.env
!etc/env/base
!etc/tokens
!etc/web3-abi
!keys/packed
!docker/nginx/nginx.conf
!bin/
!core/
!yarn.lock
!package.json
!Cargo.lock
!Cargo.toml
!contracts/artifacts
!infrastructure/zk
!sdk/zksync-rs
