# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
.DS_Store
*.bak
node_modules
yarn-error.log
*.log
target
a.out 
.gitconfig
tags
*.orig

zksync_pk.key
dist
npm-debug.log

Cargo.lock
!/Cargo.lock
!/infrastructure/zksync-crypto/Cargo.lock

/etc/env/*
!/etc/env/dev.env.example
!/etc/env/ci.env
/etc/tokens/localhost.json
/contracts/yarn-error.log
/deploy.log
/test.log
/genesis.log
!/keys
/keys/*
!/keys/packed
/tmp
/volumes
/logs
/loadtest-config

.ipynb_checkpoints

loadtest_accounts_*

go_to_env.sh

core/lib/storage/.env
