# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
.DS_Store

# Remove Cargo.lock from gitignore if creating an executable, leave it for libraries
# More information here https://doc.rust-lang.org/cargo/guide/cargo-toml-vs-cargo-lock.html
Cargo.lock

*.env
/contracts/yarn-error.log
/target
/deploy.log
/*.bak
/keys
/tmp
