# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
.vscode
.DS_Store
*.bak
node_modules
yarn-error.log
target
a.out 
.gitconfig

zksync_pk.key
dist
npm-debug.log

Cargo.lock
!/Cargo.lock

/etc/env/*
!/etc/env/dev.env.example
!/etc/env/ci.env
/contracts/yarn-error.log
/deploy.log
/test.log
/genesis.log
/keys
/tmp
/volumes
/logs
/loadtest-config

.ipynb_checkpoints
