# Mnemonic can be generated here: https://bitcoinqrcodegenerator.win/bip39/

MNEMONIC="fine music test violin matrix prize squirrel panther purchase material script deal"
TEST_MNEMONIC="stuff slice staff easily soup parent arm payment cotton trade scatter struggle"

OPERATOR_PRIVATE_KEY=27593fea79697e947890ecbecce7901b0008345e5d7259710d0dd5e500d040be
OPERATOR_ETH_ADDRESS=0xde03a0B5963f75f1C8485B355fF6D30f3093BDE7
OPERATOR_FRANKLIN_ADDRESS=0xde03a0B5963f75f1C8485B355fF6D30f3093BDE7
OPERATOR_ETH_ACCOUNT_PASSWORD="fine music test"
# account stored on the local eth node.
GENESIS_ROOT=0x2d5ab622df708ab44944bb02377be85b6f27812e9ae520734873b7a193898ba4

WEB3_URL=http://localhost:8545
TRUFFLE_NETWORK=universal

ETHERSCAN_API_KEY=

# Client

CLIENT_GITHUB_DIR=~/src/gluk64.github.io/

GOVERNANCE_GENESIS_TX_HASH=0xb99ebfea46cbe05a21cd80fe5597d97b204befc52a16303f579c607dc1ac2e2e
CONTRACT_GENESIS_TX_HASH=0xb99ebfea46cbe05a21cd80fe5597d97b204befc52a16303f579c607dc1ac2e2e
CONTRACT_ADDR=0x70a0F165d6f8054d0d0CF8dFd4DD2005f0AF6B55
GOVERNANCE_ADDR=0x5E6D086F5eC079ADFF4FB3774CDf3e8D6a34F7E9
PRIORITY_QUEUE_ADDR=0x572b9410D9a14Fa729F3af92cB83A07aaA472dE0
VERIFIER_ADDR=0xDAbb67b676F5b01FcC8997Cc8439846D0d8078ca
TEST_ERC20=0x54FCb2405EE4f574C4F09333d25c401E68aD3408
CHAIN_ID=9
GAS_PRICE_FACTOR=1
ETH_NETWORK=localhost
LOGDIR=~/var/log/
LOGFILE=$~/var/log/plasma.log

DATABASE_URL=postgres://postgres@localhost/plasma

DB_POOL_SIZE=10

PADDING_PUB_KEY="[\"0x18936d8e5f18dc41425e85a25d7a76f63715be4b3c9fac18475d028fca64c740\", \"0x0f933c18160257e0aa54056652e6bc2b8673b31c80cda933421f99dada946bf4\"]"
FROM_BLOCK=0
BLOCK_DELAY=0
REST_API_BIND=0.0.0.0:3000
HTTP_RPC_API_BIND=0.0.0.0:3030
WS_API_BIND=0.0.0.0:3031
RUST_BACKTRACE=1

# DigitalOcean

DO_TOKEN=b2fa120ea629fc62050cba217da8a34c61a83ff84e2a9aebd3f4c4064ae381d4

KUBECONFIG=

# Prover
BELLMAN_VERBOSE=1

KEY_DIR=keys/f490d2
BLOCK_SIZE_CHUNKS=50
ACCOUNT_TREE_DEPTH=16
TX_BATCH_SIZE=50

SERVER_API_HOST=localhost

REST_API_ADDR=http://localhost:3000
HTTP_RPC_API_ADDR=http://localhost:3030
WS_API_ADDR=ws://localhost:3031

API_SERVER=http://localhost:3000
MAX_OUTSTANDING_TXS=120000
LOADTEST_MIN_AMOUNT=0.01

RUST_LOG=server=debug,prover=debug,plasma=info,eth_client=info,data_restore=info,prover=debug,dummy_prover=info,key_generator=info,exodus_test=info

PROVER_SERVER_URL=http://0.0.0.0:8088
PROVER_SERVER_BIND=0.0.0.0:8088

POD_NAME=default-prover-pod-name
KEYS_SPACE_URL=

IMAGE_TAG=$(lasthash=$(git rev-parse HEAD) && echo ${lasthash:0:8})
ZKSYNC_ACTION=dont_ask
