# Mnemonic can be generated here: https://bitcoinqrcodegenerator.win/bip39/

MNEMONIC="fine music test violin matrix prize squirrel panther purchase material script deal"
TEST_MNEMONIC="stuff slice staff easily soup parent arm payment cotton trade scatter struggle"

# Set in env file only for local development, for production, staging and testnet it is configured on k8s only.
OPERATOR_PRIVATE_KEY=27593fea79697e947890ecbecce7901b0008345e5d7259710d0dd5e500d040be

# Address to be used for zkSync account managing the interaction with a contract on Ethereum.
# Derived from the `OPERATOR_PRIVATE_KEY`.
OPERATOR_COMMIT_ETH_ADDRESS=0xde03a0B5963f75f1C8485B355fF6D30f3093BDE7

# Address to collect fees to.
# For development purposes, it equals to the `OPERATOR_COMMIT_ETH_ADDRESS`,
# but for production it has to manually be set to an address of an account
# exclusively owned by the node owner.
OPERATOR_FEE_ETH_ADDRESS=0xde03a0B5963f75f1C8485B355fF6D30f3093BDE7

# account stored on the local eth node.
GENESIS_ROOT=0x2d5ab622df708ab44944bb02377be85b6f27812e9ae520734873b7a193898ba4

WEB3_URL=http://127.0.0.1:8545
# Must be either "CoinMarketCap" or "CoinGecko"
TOKEN_PRICE_SOURCE=CoinGecko
COINMARKETCAP_BASE_URL=http://127.0.0.1:9876
# use https://api.coingecko.com/ for production
COINGECKO_BASE_URL=http://127.0.0.1:9876

ETHERSCAN_API_KEY=""

# Client
UPGRADE_GATEKEEPER_ADDR=0x5E6D086F5eC079ADFF4FB3774CDf3e8D6a34F7E9
GOVERNANCE_TARGET_ADDR=0x5E6D086F5eC079ADFF4FB3774CDf3e8D6a34F7E9
VERIFIER_TARGET_ADDR=0x5E6D086F5eC079ADFF4FB3774CDf3e8D6a34F7E9
CONTRACT_TARGET_ADDR=0x5E6D086F5eC079ADFF4FB3774CDf3e8D6a34F7E9
CONTRACT_ADDR=0x70a0F165d6f8054d0d0CF8dFd4DD2005f0AF6B55
GOVERNANCE_ADDR=0x5E6D086F5eC079ADFF4FB3774CDf3e8D6a34F7E9
VERIFIER_ADDR=0xDAbb67b676F5b01FcC8997Cc8439846D0d8078ca
DEPLOY_FACTORY_ADDR=0xFC073319977e314F251EAE6ae6bE76B0B3BAeeCF
GENESIS_TX_HASH=0xb99ebfea46cbe05a21cd80fe5597d97b204befc52a16303f579c607dc1ac2e2e
CHAIN_ID=9
GAS_PRICE_FACTOR=1
ETH_NETWORK=localhost

# Set in env file only for local development, for production, staging and testnet it is configured on k8s only.
DATABASE_URL=postgres://postgres@localhost/plasma

DB_POOL_SIZE=10

# `eth_sender` options

ETH_WAIT_CONFIRMATIONS=1
ETH_EXPECTED_WAIT_TIME_BLOCK=30
# Node polling period in seconds.
ETH_TX_POLL_PERIOD=3
# The maximum amount of simultaneously sent Ethereum transactions.
ETH_MAX_TXS_IN_FLIGHT=3
# Gas price limit to be used by GasAdjuster until the statistics data is gathered.
# Defaults to 400 gwei (400 * 10^9 wei)
ETH_GAS_PRICE_DEFAULT_LIMIT=400000000000
# Interval between updates of the gas price limit (used by GasAdjuster) in seconds
# Defaults to 150 (avg time of 1 block is 15 seconds, thus ~10 ETH blocks)
ETH_GAS_PRICE_LIMIT_UPDATE_INTERVAL=150
# Interval between adding the Ethereum node gas price to the GasAdjuster (in seconds).
# Defaults to 15 seconds (1 Ethereum block)
ETH_GAS_PRICE_LIMIT_SAMPLE_INTERVAL=15
# Scale factor for gas price limit (used by GasAdjuster)
# Defaults to 1.5: every time we can increase the price by no more than 50%.
ETH_GAS_PRICE_LIMIT_SCALE_FACTOR=1.0
ETH_IS_ENABLED=true

# Prover options
# Interval values in milliseconds
PROVER_PREPARE_DATA_INTERVAL=500
PROVER_HEARTBEAT_INTERVAL=1000
PROVER_CYCLE_WAIT=500
PROVER_GONE_TIMEOUT=60000

# Download setup files from SETUP_NETWORK_DIR if PROVER_DOWNLOAD_SETUP=1 or use local files if PROVER_DOWNLOAD_SETUP=0
PROVER_DOWNLOAD_SETUP=false
# Network location of setup files
PROVER_SETUP_NETWORK_DIR="-"
# Used to configure env for docker
DOCKER_DUMMY_PROVER=false

# Serving addresses configutarions

# Admin server configuration
ADMIN_SERVER_API_BIND=127.0.0.1:8080
ADMIN_SERVER_API_URL=http://127.0.0.1:8080
# Shared secret for authorization to admin server using JSON Web Token
SECRET_AUTH=123

REST_API_BIND=0.0.0.0:3001
REST_API_ADDR=http://127.0.0.1:3001

HTTP_RPC_API_BIND=0.0.0.0:3030
HTTP_RPC_API_ADDR=http://127.0.0.1:3030

WS_API_BIND=0.0.0.0:3031
WS_API_ADDR=ws://127.0.0.1:3031

PROVER_SERVER_BIND=0.0.0.0:8088
PROVER_SERVER_URL=http://127.0.0.1:8088

PRIVATE_CORE_SERVER_BIND=0.0.0.0:8090
PRIVATE_CORE_SERVER_URL=http://127.0.0.1:8090

RUST_BACKTRACE=1

# DigitalOcean

# Prover
BELLMAN_VERBOSE=1

# key dir ending with latest version of circuit commit hash
KEY_DIR=keys/plonk-975ae851
# actual supported block chunks sizes by verifier contract (determined by circuit size on setup boundaries)
# and setup power needed to proof block of this size
SUPPORTED_BLOCK_CHUNKS_SIZES=6,30,74,150,320,630
SUPPORTED_BLOCK_CHUNKS_SIZES_SETUP_POWERS=21,22,23,24,25,26

# Since withdraw is an expensive operation, we have to limit amount of
# withdrawals in one block to not exceed the gas limit in prover.
# 10 is a safe value which won't cause any problems.
# If this threshold is reached, block will be immediately sealed and
# the remaining withdrawals will go to the next block.
MAX_NUMBER_OF_WITHDRAWALS_PER_BLOCK=10

BLOCK_CHUNK_SIZES=6,30
ACCOUNT_TREE_DEPTH=32
BALANCE_TREE_DEPTH=11

# Number of idle provers running (to scale up faster)
IDLE_PROVERS=1

SERVER_API_HOST=localhost
SERVER_API_HOST_CERT=""
EXPLORER_HOST=localhost
EXPLORER_HOST_CERT=""

REQ_SERVER_TIMEOUT=10

API_REQUESTS_CACHES_SIZE=10000

RUST_LOG="zksync_api=debug,zksync_core=debug,zksync_eth_sender=debug,zksync_witness_generator=debug,zksync_server=debug,zksync_prover=debug,dummy_prover=info,key_generator=info,zksync_data_restore=info,zksync_eth_client=info,zksync_storage=info,zksync_state=info,zksync_types=info,exodus_test=info,loadtest=info,kube=debug,dev_ticker=info,block_sizes_test=info"

ZKSYNC_ACTION=dont_ask

# ETH watcher configuration
CONFIRMATIONS_FOR_ETH_EVENT=0
# poll interval milliseconds
ETH_WATCH_POLL_INTERVAL=300

# Time to process one miniblock (in ms)
MINIBLOCK_ITERATION_INTERVAL=200
# Determines block formation time
MINIBLOCKS_ITERATIONS=10
# Determines block formation time if block contains fast withdrawals
FAST_BLOCK_MINIBLOCKS_ITERATIONS=5

PROMETHEUS_EXPORT_PORT=3312

# Fee increase coefficient for fast processing of withdrawal.
TICKER_FAST_PROCESSING_COEFF=10.0

# Amount of threads to use to generate witness for blocks.
WITNESS_GENERATORS=2

# Determines the required minimum account age for `ForcedExit` operation to be allowed.
# It is set to 0 for the development purpuces (e.g. tests), but it is recommended to keep this
# value at least 24 hours for production.
# Type of value is seconds.
FORCED_EXIT_MINIMUM_ACCOUNT_AGE_SECS=0

# FEE LIQUIDATION CONSTANTS
MAX_LIQUIDATION_FEE_PERCENT=5
FEE_ACCUMULATOR_ADDRESS=0xde03a0B5963f75f1C8485B355fF6D30f3093BDE7
FEE_ACCOUNT_PRIVATE_KEY=unset
