# Loadtest

LOADTEST_N_CLIENTS=10
LOADTEST_TPS=100

# Mnemonic can be generated here: https://bitcoinqrcodegenerator.win/bip39/

MNEMONIC="fine music test violin matrix prize squirrel panther purchase material script deal"
#FUNDING_ACCOUNT=52312AD6f01657413b2eaE9287f6B9ADaD93D5FE
SENDER_ACCOUNT=de03a0B5963f75f1C8485B355fF6D30f3093BDE7
PRIVATE_KEY=27593fea79697e947890ecbecce7901b0008345e5d7259710d0dd5e500d040be

WEB3_URL=http://localhost:8545
TRUFFLE_NETWORK=universal

# Client

CLIENT_GITHUB_DIR=~/src/gluk64.github.io/

CONTRACT_ADDR=5F939954eA54FA9b61Fd59518945D09E8939f2B2
CHAIN_ID=9
LOGDIR=~/var/log/
LOGFILE=$~/var/log/plasma.log

DATABASE_URL=postgres://postgres@localhost/plasma
PROVER_DATABASE_URL=postgres://postgres@localhost/plasma

# in docker
#DATABASE_URL=postgres://alex@host.docker.internal/plasma
#PROVER_DATABASE_URL=postgres://alex@host.docker.internal/plasma

DB_POOL_SIZE=10

PADDING_PUB_KEY="[\"0x18936d8e5f18dc41425e85a25d7a76f63715be4b3c9fac18475d028fca64c740\", \"0x0f933c18160257e0aa54056652e6bc2b8673b31c80cda933421f99dada946bf4\"]"
FROM_BLOCK=0
BLOCK_DELAY=0
PORT=3000
BIND_TO=0.0.0.0
RUST_BACKTRACE=1

# DigitalOcean

DO_TOKEN=b2fa120ea629fc62050cba217da8a34c61a83ff84e2a9aebd3f4c4064ae381d4

# Prover

BELLMAN_VERBOSE=1

SPACE_URL=https://keys.ams3.cdn.digitaloceanspaces.com/8
KEY_DIR=keys/8
TRANSFER_BATCH_SIZE=8

CONTRACT_KEY_FILES="DepositVerificationKey.sol ExitVerificationKey.sol TransferVerificationKey.sol"
KEY_FILES="deposit_pk.key exit_pk.key transfer_pk.key DepositVerificationKey.sol ExitVerificationKey.sol TransferVerificationKey.sol"

#API_SERVER=https://api1.franklin.network
API_SERVER=http://localhost:3000
#API_SERVER=https://api.plasma-winter.io
MAX_OUTSTANDING_TXS=120000
LOADTEST_MIN_AMOUNT=0.01

# Tree restore
TREE_RESTORE_RINKEBY_ENDPOINT=https://rinkeby.infura.io/
TREE_RESTORE_RINKEBY_CONTRACT_ADDR=4fbf331db438c88a83b1316d072b7d73d8366367
TREE_RESTORE_MAINNET_ENDPOINT=https://mainnet.infura.io/
TREE_RESTORE_MAINNET_CONTRACT_ADDR=4a89f998dce2453e96b795d47603c4b5a16144b0

RUST_LOG=server=info,storage=info,prover=info,plasma=info,eth_client=info,data_restore=info
