# Mnemonic can be generated here: https://bitcoinqrcodegenerator.win/bip39/

MNEMONIC="fine music test violin matrix prize squirrel panther purchase material script deal"
SENDER_ACCOUNT=52312AD6f01657413b2eaE9287f6B9ADaD93D5FE
PRIVATE_KEY=e131bc3f481277a8f73d680d9ba404cc6f959e64296e0914dded403030d4f705

WEB3_URL=http://localhost:8545

# Client

CLIENT_GITHUB_DIR=~/src/gluk64.github.io/

CONTRACT_ADDR=C3a4581CE8Ce85D0CF5df25C486D67071F3490C2
CHAIN_ID=9
LOGDIR=~/var/log/
LOGFILE=$~/var/log/plasma.log

# used for testing
TEST_DATABASE_URL=postgres://postgres@localhost/plasma_test

# used for development
DATABASE_URL=postgres://postgres@localhost/plasma
PROVER_DATABASE_URL=postgres://postgres@localhost/plasma

# in docker
#DATABASE_URL=postgres://alex@host.docker.internal/plasma
#PROVER_DATABASE_URL=postgres://alex@host.docker.internal/plasma

DB_POOL_SIZE=10

PADDING_PUB_KEY="[\"0x18936d8e5f18dc41425e85a25d7a76f63715be4b3c9fac18475d028fca64c740\", \"0x0f933c18160257e0aa54056652e6bc2b8673b31c80cda933421f99dada946bf4\"]"
FROM_BLOCK=0
BLOCK_DELAY=0
PORT=3000
BIND_TO=0.0.0.0
RUST_BACKTRACE=1

# DigitalOcean

DO_TOKEN=b2fa120ea629fc62050cba217da8a34c61a83ff84e2a9aebd3f4c4064ae381d4

# Prover

BELLMAN_VERBOSE=1

SPACE_URL=https://ams3.digitaloceanspaces.com/keys
KEY_FILES="deposit_pk.key exit_pk.key transfer_pk.key"

#API_SERVER=https://api1.franklin.network
API_SERVER=http://localhost:3000
#API_SERVER=https://api.plasma-winter.io
