#!/bin/bash

# Truffle

# Mnemonic can be generated here: https://bitcoinqrcodegenerator.win/bip39/

export MNEMONIC="hover tattoo body suit rate half pencil gather unusual enact roof banner travel nut document"
export INFURA_PROJECT_ID=48beda66075e41bda8b124c6a48fdfa0

# Client

export CLIENT_GITHUB_DIR=~/src/gluk64.github.io/

# Server

# No leading 0x in the addresses!!!
export SENDER_ACCOUNT=349ec47E121E6Ad056e5FF6E7EE990BFEfA969C0
export PRIVATE_KEY=3ded844d539a9b8b7a28caf7bcc89044e9b33b73961732c4d5fdfb63c7f8428c 

export CONTRACT_ADDR=000000000000000000000000000000000000000

export CHAIN_ID=4 # rinkeby
export WEB3_URL=https://rinkeby.infura.io/v3/$INFURA_PROJECT_ID

export LOGDIR=/var/log/
export LOGFILE=$LOGDIR/plasma.log
export DATABASE_URL=postgres://localhost/plasma

export PADDING_PUB_KEY="[\"0x18936d8e5f18dc41425e85a25d7a76f63715be4b3c9fac18475d028fca64c740\", \"0x0f933c18160257e0aa54056652e6bc2b8673b31c80cda933421f99dada946bf4\"]"
export FROM_BLOCK=0
export BLOCK_DELAY=0
export BELLMAN_VERBOSE=1
export PORT=3000
export BIND_TO=127.0.0.1

export RUST_BACKTRACE=1
