name: CI

on:
  pull_request:
    branches:
     - '*'

jobs:
  ci-all:
    runs-on: self-hosted

    steps:
    - uses: actions/checkout@v2

    - name: link-setup-keys
      run: ln -s ~/setup keys/setup

    - name: setup-env
      run: |
        echo ZKSYNC_HOME=$(pwd) >> $GITHUB_ENV
        echo CI=1 >> $GITHUB_ENV
        echo $(pwd)/bin >> $GITHUB_PATH

    - name: update-deps
      run: |
        rustup update stable
        cargo sqlx --version || cargo install --version=0.1.0-beta.1 sqlx-cli
        docker pull matterlabs/ci-integration-test:latest

    - name: zk
      run: zk

    - name: lints
      run: |
        zk db setup # So database will be created for compilation.
        zk dummy-prover ensure-disabled
        cargo fmt --all -- --check
        # For some reason, `cargo clippy` currently doesn't work in sqlx offline mod. So, we're checking it in online mode.
        zk f cargo clippy --tests --benches -- -D warnings
        pushd sdk/zksync-crypto
        cargo fmt -- --check
        cargo clippy --all --tests --benches -- -D warnings

    - name: integration-tests
      run: zk test integration all --in-docker

    - name: integration-testkit
      run: zk test integration testkit

    - name: contracts-unit-tests
      run: zk test contracts

    - name: js-unit-tests
      run: zk test js

    - name: rust-unit-tests
      run: zk test rust

    - name: zksync-crypto-tests
      run: pushd sdk/zksync-crypto && zk f cargo test --release

    services:
      geth:
        image: matterlabs/geth:latest
        ports:
          - 8545:8545
          - 8546:8546
        env:
          CONFIG: standard

      postgres:
        image: postgres:10.4
        ports:
          - 5432:5432

      dev-ticker:
        image: matterlabs/dev-ticker:latest
        ports:
          - 9876:9876
